%h1 My Posts &darr;
%p
  =styled_flash
  
%p
  %a{:href => "/posts/add" }
    Add Post

.notes
  - @contents.each do |item|
    .title
      = item.title[0..90]
      &nbsp;|
      %span.action
        %a{:href => "/posts/show/#{item.id}"}
          Show
      &nbsp;|
      %span.action
        %a{:href => "/posts/edit/#{item.id}"}
          Edit
      &nbsp;|
      %span.action
        %a{:href => "/posts/delete/#{item.id}", :method => :delete}
          Delete

%p          
  = will_paginate @contents
   
  


      
